<h1><%= @owner.id %></h1>

<p>Name: <%= @owner.name %></p>
<p>City: <%= @owner.city %></p>
<p>Telephone: <%= @owner.telephone %></p>
<p>Created at: <%= @owner.created_at %></p>
<p>Updated at: <%= @owner.updated_at %></p>

<ul>
  <li><%= link_to "Owners", "/owners" %></li>
</ul>